	<!-- COUNTDOWN ELEMENTS -->
	<div class="second-energy-level">
		<div class="electron-container-one"><div class="electron"></div></div>
		<div class="first-energy-level">
			<div class="electron-container-two"><div class="electron"></div></div>
			<div class="electron-container-three"><div class="electron"></div></div>
			<div class="counter"><h2 class="days"><%= @tenk.strftime("%b") %></h2><p class="time_Days">Month</p></div>
		</div>
	</div>
	<div class="second-energy-level">
		<div class="electron-container-one"><div class="electron"></div></div>
		<div class="first-energy-level">
			<div class="electron-container-two"><div class="electron"></div></div>
			<div class="electron-container-three"><div class="electron"></div></div>
			<div class="counter"><h2 class="hours"><%= @tenk.strftime("%e") %></h2><p class="time_Hours">Date</p></div>
		</div>
	</div>
	<div class="second-energy-level">
		<div class="electron-container-one"><div class="electron"></div></div>
		<div class="first-energy-level">
			<div class="electron-container-two"><div class="electron"></div></div>
			<div class="electron-container-three"><div class="electron"></div></div>
			<div class="counter"><h2 class="minutes"><%= @tenk.strftime("%Y") %></h2><p class="time_Minutes">Year</p></div>
		</div>
	</div>
	<div class="second-energy-level">
		<div class="electron-container-one"><div class="electron"></div></div>
		<div class="first-energy-level">
			<div class="electron-container-two"><div class="electron"></div></div>
			<div class="electron-container-three"><div class="electron"></div></div>
			<div class="counter"><h2 class="seconds"><%= @dob.strftime("%a") %></h2><p class="time_Seconds">Day</p></div>
		</div>
	</div>

<%= render partial: "layouts/form" %>
